figure-cap {
    float: left;
    width: 55%;
    text-align: left;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
    margin-left:250px;
    border-radius:15%;
    padding-left:30px;
}
  h3{
    width:500px;
    margin-left:400px;
    padding-top:500px;
    text-align:center;
     
  }